<form [formGroup]="form" class="container">
	<div>
		<mat-form-field>
			<input matInput type="text"  formControlName="input">
    </mat-form-field>
	</div>
	<div>
		<mat-checkbox formControlName="majeur">Majeur</mat-checkbox>
	</div>
	<div>
		<label>Male
      <input type="radio" value="male" formControlName="gender">
    </label>
		<label>Female
      <input type="radio" value="female" formControlName="gender">
    </label>
	</div>
	<div>
		<label>Vrai
      <input type="radio" value="true" formControlName="toggle">
    </label>
		<label>Faux
      <input type="radio" value="false" formControlName="toggle">
    </label>
	</div>
	<pre>{{form.value | json}}</pre>
</form>